* label{ cursor: pointer; }
body{
  font-family: 'FuturaPT Book', sans-serif;
  background: none;
  color: #000;
}
.hideInput{
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.bordersetup{
  border-width: 1px;
  border-style: dashed;
}
/* Colores Settings */
.colorBorderRed{ border-color: red; }
.colorBorderWhite{ border-color: #fff; }
.colorBorderBlack{ border-color: #000; }

.backWhite{ background: #fff; }
.backBlack{ background: #000; }
.backRed{ background: red; }

.colorWhite{ color: #fff; }
.colorBlack{ color: #000; }
.colorRed{ color: red; }

.uploadFillWhite{ fill:#fff; }
.uploadFillRed{ fill:red; }
.uploadFillBlack{ fill:#000; }
section{
  position: fixed;
	top: 0;
	left:0;
	width:calc(100vw - 30px);
	height:100vh;
  background: none;
}
#loadingIF{
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	-o-justify-content: center;
	justify-content: center;
}
#loadingIF>div{
  margin-top: 10vh;
  margin-right: -30px;
}
#loadingIF>div>p{
  font-size: 0.9rem;
  display: block;
  text-align: center;
  line-height: 20px;
  height: 20px;
}
#loadingIF>div>form>label{
  position: relative;
  display: block;
  width: 160px;
  height: 150px;
}
#loadingIF>div>.info{
  background: #244d8c;
  width: 100%;
  color: #fff;
}
#loadingIF>div>.info>p{
  font-size: 0.8rem;
  display: block;
  text-align: center;
  line-height: 20px;
}
/* Inicio */
#homeIF>label{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 200px;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
#homeIF>label:hover{
  opacity: 0.8;
}
#homeIF>.superior{
  position: absolute;
  top: 80px;
  left: 15px;
  width: 100%;
  min-width: 250px;
  height: calc(80vh - 130px);
}
#homeIF>.superior>.botella{
  position: relative;
  width: 100%;
  height: calc(100% - 80px);
  min-height: 200px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#homeIF>.superior>.botella>#labelBottle{
  position: relative;
  display: block;
  width: 20px;
  height: 100%; }
#homeIF>.superior>.botella>div{
  height: 100%;
  margin-left: 8px;
  text-align: center;
}
#homeIF>.superior>.botella>div>.infoTitleIF{
  height: 37%;
  margin-top: 1%;
  margin-bottom: 3%;
}
#homeIF>.superior>.botella>div>.infoTitleIF>.labelTxInicio{
  position: relative;
  display: block;
  height: 100%;
  width: 100px;
}
#homeIF>.superior>.botella>div>.prizeIF{
  height: 60%;
}
#homeIF>.superior>.botella>div>.prizeIF>#labelPrize{
  position: relative;
  display: block;
  height: 100%;
}
#homeIF>.superior>.inferior{
  position: relative;
  width: 100%;
  height: 13%;
  min-height: 30px;
  max-height: 50px;
  margin-top: 3.5%;
  text-align: center;
}
#homeIF>.superior>.inferior>#labelObtenerCupon{
  position: relative;
  display: block;
  margin: 0 auto;
  height: 92%;
  width: 100px;
}
/* CUPON */
#cuponIF>div{
  position: fixed;
  top: 60px;
  left: 15px;
  width: calc(100% - 30px);
  min-width: 250px;
  height: calc(100% - 130px);
}
#cuponIF>div>.cupon{
  position: relative;
  width: 100%;
  height: calc(100% - 40px);
  min-height: 200px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#cuponIF>div>.cupon>.labelCupon{
  position: relative;
  display: block;
  width: 300px;
  height: 100%;
}
#cuponIF>div>.captura{
  width: 100%;
  height: 12%;
  min-height: 30px;
  max-height: 50px;
  margin-top: 3%;
  text-align: center;
}
#cuponIF>div>.captura>#labelObtenerCaptura{
  position: relative;
  margin: 0 auto;
  display: block;
  height: 90%;
}
#mensajeExitoIF{
  position: fixed;
  top: 60px;
  left: 15px;
  width: calc(100% - 30px);
  min-width: 250px;
  height: calc(100% - 170px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#mensajeExitoIF>.superior{
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
#mensajeExitoIF>.superior>li{
  text-align: center;
  margin: 5px auto;
  width: 80%;
}
#mensajeExitoIF>.superior>li:first-child{
  width: 30%;
  min-width: 100px;
  max-width: 130px;
  margin: 10px auto;
}
#mensajeExitoIF>.superior>li:first-child>img{ width: 100%;}
#mensajeExitoIF>.superior>li:nth-child(2){
  text-align: center;
  margin: 5px auto;
  width: 80%;
  height: 60px;
}
#mensajeExitoIF>.superior>li:nth-child(2)>#labelMsgExito{
    display: block;
    position: relative;
    width: 100%;
    min-width: 300px;
    max-width: 450px;
    height: 100%;
    margin: 0 auto;
}
#mensajeExitoIF>.superior>li:nth-child(3){
  text-align: center;
  margin: 5px auto;
  width: 80%;
  height: 30px;
}

#mensajeExitoIF>.inferior{
  width: 100%;
  height: 92px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: flex-end;
  -webkit-align-items: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
}
#mensajeExitoIF>.inferior>li{
  width: 45px;
  height: 45px;
  margin: 0 10px;
}
#mensajeExitoIF>.inferior>li>label{
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}
#hashtagImg2{
  position: fixed;
  width: 300px;
  height: 50px;
  background: none;
  bottom: 30px;
  left: calc(50% - 150px);
}
#hashtagImg2>label{
  position: absolute;
  width: 100%;
}
#mensajeErrorIF>div{
  position:relative;
  width: 100%;
  margin-top: 80px;
  height: calc(100% - 280px);
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}
#mensajeErrorIF>div>#labelError{
  position: relative;
  display: block;
  width: 90%;
  max-width: 550px;
}
label>.title, label>.titleDown{
  font-size: 0.8rem;
  position: absolute;
  width: 100%;
  display: block;
  top: -20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
}
label>.titleDown{
  top: 100%;
}
.hoverLabel{
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 0;
}
.hoverLabel:hover{ opacity: 1; }
.hoverLabel>p{
  font-size: 0.8rem;
  display: block;
  width: 100%;
  text-align: center;
  color: #fff;
}
.hoverLabel>svg{
  width: 30px;
  height: 30px;
}

/*DESKTOP*/
@media (min-width: 880px){
  #loadingIF>div{ margin-top:20vh}
  #homeIF>.superior, #cuponIF>div{ height: calc(80vh - 90px); }
}
